* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(254, 20, 20, 0.859);
}

.title {
  color: aliceblue;
}
/* contenedor principal */
.container {
  display: flex;
  width: 70%;
  height: 500px;
  margin: auto;
  margin-top: 3em;
  justify-content: space-around;
}

/* inout */
.container-input {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pokemon-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid;
  padding: 4px 16px;
}

.pokemon-int {
  padding: 10px;
  border-radius: 10px;
}

/* descripcion e imagen del pokemon  */
.pokemon-contanier {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nombre-pokemon{
  color: aliceblue;
  text-align: center;
  margin: 10px;
  font-size: 2em;
}
.img-pokemon {
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgba(240, 255, 255, 0.789);
}
.stat {
  font-size: 1.3em;
  color: aliceblue;
}


@media (max-width: 740px) {
  html {
    font-size: 65%;
  }

  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
  }

  .container-input {
    width: 100%;
  }

  .pokemon-form {
    align-items: center;
  }

  .pokemon-contanier {
    width: 100%;
  }

  .img-pokemon {
    height: 200px;
  }
}
